body {
min-height: 100%;
height: 100%;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
line-height: 18px;
color: #393939;
  margin: 0px;
}

img { border: none; }
a { color: #22456F; text-decoration: underline;}

a:hover { text-decoration: underline; color : #000; }

.tab {
background-color: white;
}

td {
font-size: 12px;
}

.widget {
border-bottom: 1px dotted #cccccc;
margin: 0 0 1.5em;
padding: 0 0 1.5em;
}

#top_bar {
background: #616668;
color: #FFFFFF;
font-size: 13px;
font-weight: bold;
padding: 13px;
}

#header {
background: #393939;
color: #FFFFFF;
padding:10px 10px 10px 40px;
margin-bottom: 20px;
}
#header h1 {
font-size: 24px;
letter-spacing: -1px;
}
#header h1 a {
color: #182535;
text-decoration: none;
}
#header h1 a:hover {
color: #000;
text-decoration: none;
}
#header h2 {
color: #aaa;
font-size: 15px;
font-weight: 100;
padding: 0 0 0 11px;
letter-spacing: -1px;
line-height: 12px;
}
#footer {
  position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 28px;
    background-color: #393939;
    margin-left: auto;
    margin-right: auto;
}

#footer-nav { 
  position: fixed;
    bottom: 0px;
    color: #FFFFFF;
    padding-bottom: 5px;
  }

#footer-nav ul,
#footer-nav li  {
    display: inline;
}

table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:12px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  text-align: center;
  border-width: 1px;
  padding: 5.5px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 5px;
  border-style: solid;
  border-color: #666666;
}

table.inner_gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:12px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.inner_gridtable th {
  text-align: center;
  border-width: 1px;
  padding: 5.5px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.inner_gridtable td {
  border-width: 1px;
  padding: 5px;
  border-style: none;
  /*border-center-style: solid;*/
  border-color: #666666;
}
#box {
  clear: both;
  margin-bottom: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

#control_box {
  clear: both;
  margin-bottom: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
}

#text-box {
  width: 40%;
  clear: both;
  margin-bottom: 20px;
}

/*#pulsar_box:hover {
    background-color: #393939;
}*/

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('../images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

#clear {
  clear: both;
}

#demo-header{
    width: 980px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    float:right;
}
#login-link{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    background: #393939;
    padding: 5px 15px 5px 15px;
    color: #FFF;
    float:right;
}
#logout-link{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    /*background: #393939;*/
    padding: 5px 15px 5px 15px;
    color: #FFF;
    float:right;
}
#login-panel{
    position: absolute;
    top: 26px;
    right: 0px;
    width: 190px;
    padding: 10px 15px 5px 15px;
    background: #393939;
    font-size: 8pt;
    font-weight: bold;
    color: #FFF;
    display: none;
}
label{
    line-height: 1.8;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}

.circle {
  position: relative;
  float: left;
  /*display: block;*/
  width: 20px;
  height: 20px;
  background: #333;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}

#pipeline_status_status {
  position: relative;
  float: left;
  padding-right: 40px;
}

#pipeline_status_box {
font-size: 24px;
letter-spacing: -1px;
  clear: both;
  margin-bottom: 20px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px;
    font-weight: bold;
}
